/* There are many ways to tackle a project like this, and it can be overwhelming to look at a blank HTML document and not know where to start. 
Our suggestion: take it one section at a time. The website you’re creating has 4 main sections
 (and a footer), so pick one and get it into pretty good shape before moving on. Starting at the top is always a solid plan.
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


* {
    margin: 0;
    padding: 20;
    font-family: #1F2937;
}

.nav_links, li, a { 
    padding: 3px;
    display:inline;
    color: white;
    font-family: #1F2937;

}

.bluebox {
    background-color:  #1f2937;
    height: 400px;
    max-width: 900px;
    margin: 0 auto;
    color:white ;
    padding:25px;
    flex-shrink: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav_links { 
    display: flex;
    white-space: nowrap;
    display: inline-block;
    float:right;
}

#headlogo, strong { 
    font-size: larger;
}

.section1 { 
    width:500px;
    max-width: 300px;
    display: inline-block;
    padding: 40px;
}

.section2 { 
    display: flex;
    width: 500px;
    height:500px;
    max-width: 300px;
}

.button1 { 
    position:absolute;
    bottom: 300px;
    padding: 20px;
    background-color: rgba(19, 79, 209, 0.507);
    color: white;
}
img { 
    height: 300px;
    max-width: 300px;
    position: absolute;
    right:350px;
    top: 120px;
    right: 50;
    width: 300px;
    
}

#boxes { 
    flex-direction: row;;
}
.whitebox {
    background-color:  #aae02bc2;
    height: 400px;
    max-width: 900px;
    margin: 0 auto;
    color:white ;
    text-align: center;
    padding:25px;
    flex-shrink: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#boxes ul { 
    border:2px solid #3882f6;
    padding: 0.5em;
    width: 200px;
    margin: 30px;
    height: 150px;
    
}

.greybox {
    background-color:  #6c6d6adc;
    height: 400px;
    max-width: 900px;
    color:white ;
    text-align: center;
    margin:0 auto;
    padding:25px;
    flex-shrink: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.buttonbox {
    background-color:  #e0e2ddc7;
    height: 400px;
    max-width: 900px;
    color:rgb(54, 11, 11) ;
    text-align: center;
    padding:25px;
    flex-shrink: 1;
    margin:0 auto;

    font-family: Georgia, 'Times New Roman', Times, serif;
}
.blueboxtwo {
    background-color:  #1316cfd5;
    height: 200px;
    max-width: 500px;
    color:rgba(253, 253, 253, 0.849) ;
    text-align: center;
    padding:15px;
    margin:0 auto;

    flex-shrink: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


